mixin messageCardBasic(message)
  .card.messageCard.messageCardBasic
    p!= message.message

mixin messageCardPremium(message, hideUser)
  .card.elevated.messageCard.messageCardPremium

    .coverImageContainer
      if message.coverImgUrl
        img(src=message.coverImgUrl, alt="cover")
      else
        img(src="https://res.cloudinary.com/dmt9s5xlh/image/upload/v1716392632/andrew-ridley-jR4Zf-riEjI-unsplash_dszwlz.jpg", alt="cover")

    .content
      p.title!= message.title

      if(!hideUser)
        a.userProfile(href=message.user.url)
          if message.user.profilePicUrl
            img(src=message.user.profilePicUrl, alt=message.user.username)
          else
            <svg class="regular" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z"/></svg>
          span= message.user.username

      p.message!= message.message

      if message.tags.length
        .tags
          for tag in message.tags
            a.tag.chip(href=`/dashboard/search?tag=${tag}`): span= tag

      p.time
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="m612-292 56-56-148-148v-184h-80v216l172 172ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z"/></svg>
        span= (message.updatedAt > message.createdAt ? 'Updated ' : '') + message.updatedAtFormatted + '.'

      if message.user.id === user.id
        .buttons
          a(href=message.url+'/update')
            button.icon.update
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-200h57l391-391-57-57-391 391v57Zm-40 80q-17 0-28.5-11.5T120-160v-97q0-16 6-30.5t17-25.5l505-504q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L313-143q-11 11-25.5 17t-30.5 6h-97Zm600-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
              span update
          button.icon.delete(data-id=message.id)
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M280-120q-33 0-56.5-23.5T200-200v-520q-17 0-28.5-11.5T160-760q0-17 11.5-28.5T200-800h160q0-17 11.5-28.5T400-840h160q17 0 28.5 11.5T600-800h160q17 0 28.5 11.5T800-760q0 17-11.5 28.5T760-720v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM400-280q17 0 28.5-11.5T440-320v-280q0-17-11.5-28.5T400-640q-17 0-28.5 11.5T360-600v280q0 17 11.5 28.5T400-280Zm160 0q17 0 28.5-11.5T600-320v-280q0-17-11.5-28.5T560-640q-17 0-28.5 11.5T520-600v280q0 17 11.5 28.5T560-280ZM280-720v520-520Z"/></svg>
            span delete

mixin messageDeleteDialog
  dialog#messageDeleteDialog
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M280-120q-33 0-56.5-23.5T200-200v-520q-17 0-28.5-11.5T160-760q0-17 11.5-28.5T200-800h160q0-17 11.5-28.5T400-840h160q17 0 28.5 11.5T600-800h160q17 0 28.5 11.5T800-760q0 17-11.5 28.5T760-720v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520Zm-400 0v520-520Zm200 316 76 76q11 11 28 11t28-11q11-11 11-28t-11-28l-76-76 76-76q11-11 11-28t-11-28q-11-11-28-11t-28 11l-76 76-76-76q-11-11-28-11t-28 11q-11 11-11 28t11 28l76 76-76 76q-11 11-11 28t11 28q11 11 28 11t28-11l76-76Z"/></svg>

    p.headline Are you sure you want to delete this message?

    p.supportingText Deleting this message is irreversable and permanent.

    form#dialogForm(method="post", action="/dashboard/message/id/delete")
      input#messageId(type='hidden', name='messageId')
      input#redirectUri(type='hidden', name='redirectUri')
      .actions
        button.text#closeDialog(type="button") Cancel
        button.filled(type="submit", autofocus) Delete

    script.
      const dialog = document.querySelector('#messageDeleteDialog')
      const messageIdInput = document.querySelector('#messageId')
      const redirectUriInput = document.querySelector('#redirectUri')
      const form = document.querySelector('#dialogForm')
      let scrollTop = 0

      const showDialog = (e) => {
        const messageId = e.target.getAttribute('data-id')
        form.action = `/dashboard/message/${messageId}/delete`

        messageIdInput.value = messageId
        redirectUriInput.value = window.location.pathname

        scrollTop = window.scrollY
        document.body.style.top = `-${scrollTop}px`;

        dialog.showModal()
      }

      const closeDialog = () => {
        form.removeAttribute('action')
        messageIdInput.removeAttribute('value')
        dialog.close()
        window.scrollTo({
          top: scrollTop,
          left: 0,
          behavior: "auto",
        });
      }

      const handleSubmit = e => {
        console.log('handle submit')
      }

      form.addEventListener('submit', handleSubmit)

      document.querySelectorAll('.delete')
        .forEach(btn => btn.addEventListener('click', showDialog))

      document.querySelector('#closeDialog').addEventListener('click', closeDialog)

mixin clubBenefits
  h2 Club benefits
  ol
    li See all of the messages metadata such as the cover image, title, author, tags, last update time of all the users.
    li Search for messages.
