extends layout

block content
  h1 Update your password

   - const currentPasswordError = errors && errors.find(item => item.path === 'currentPassword')
   - const newPasswordError = errors && errors.find(item => item.path === 'newPassword')
  - const passwordConfirmError = errors && errors.find(item => item.path === 'passwordConfirm')

  form(action="", method="post")
    .formControl
      label(for="currentPassword") Current Password*:
      input#currentPassword(type="password", name="currentPassword", value=currentPassword ? currentPassword : '', required, minlength="8")
      if currentPasswordError
        span.error= currentPasswordError.msg

    .formControl
      label(for="newPassword") New Password*:
      input#newPassword(type="password", name="newPassword", value=newPassword ? newPassword : '', required, minlength="8")
      if newPasswordError
        span.error= newPasswordError.msg

    .formControl
      label(for="passwordConfirm") Confirm New Password*:
      input#passwordConfirm(type="password", name="passwordConfirm", value=passwordConfirm ? passwordConfirm : '', required, minlength="8")
      if passwordConfirmError
        span.error= passwordConfirmError.msg
    
    .formControl
      label(for="showPasswords") Show passwords:
      input#showPasswords(type="checkbox", name="showPasswords")

    button(type="submit") Submit

    a(href="/dashboard/password/forgot") Forgot Password?

  script.
    const passwordInputs = document.querySelectorAll('input[type="password"]')
    const passwordsToggle = document.querySelector('#showPasswords')
    const handleToggle = (e) => {
      passwordInputs.forEach((input) => {
        input.type = e.target.checked ? 'text' : 'password'
      })
    }
    passwordsToggle.addEventListener('input', handleToggle)