extends layout

mixin updateAndDeleteButtons(urlBase)
  .buttons 
    a(href=urlBase+'/update')
      button
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-200h57l391-391-57-57-391 391v57Zm-40 80q-17 0-28.5-11.5T120-160v-97q0-16 6-30.5t17-25.5l505-504q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L313-143q-11 11-25.5 17t-30.5 6h-97Zm600-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
        span Update
    a(href=urlBase+'/delete')
      button
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M280-120q-33 0-56.5-23.5T200-200v-520q-17 0-28.5-11.5T160-760q0-17 11.5-28.5T200-800h160q0-17 11.5-28.5T400-840h160q17 0 28.5 11.5T600-800h160q17 0 28.5 11.5T800-760q0 17-11.5 28.5T760-720v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM400-280q17 0 28.5-11.5T440-320v-280q0-17-11.5-28.5T400-640q-17 0-28.5 11.5T360-600v280q0 17 11.5 28.5T400-280Zm160 0q17 0 28.5-11.5T600-320v-280q0-17-11.5-28.5T560-640q-17 0-28.5 11.5T520-600v280q0 17 11.5 28.5T560-280ZM280-720v520-520Z"/></svg>
        span Delete

block content
  - const name = user.firstName + ' ' + user.lastName
  h1= name

  p= user.username

  p= user.email

  if user.dateOfBirth 
    p= user.dobFormatted

  if user.profilePicUrl
    img(src=user.profilePicUrl, alt=user.username)
    //- todo: show default profile picture here.

  p= user.bio
  
  p= user.isClubMember

  +updateAndDeleteButtons('/dashboard/profile')

  a(href='/dashboard/password/update')
    button
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M80-200v-80h800v80H80Zm46-242-52-30 34-60H40v-60h68l-34-58 52-30 34 58 34-58 52 30-34 58h68v60h-68l34 60-52 30-34-60-34 60Zm320 0-52-30 34-60h-68v-60h68l-34-58 52-30 34 58 34-58 52 30-34 58h68v60h-68l34 60-52 30-34-60-34 60Zm320 0-52-30 34-60h-68v-60h68l-34-58 52-30 34 58 34-58 52 30-34 58h68v60h-68l34 60-52 30-34-60-34 60Z"/></svg>
      span Update password

  h2 Your messages:
  if messages.length
    ol 
      for message in messages
          li
            p!= message.title
            p!= message.message
            if message.tags.length
              div
                for tag in message.tags
                  a(href=`/dashboard/search?tag=${tag}`): span= tag
            p= message.updatedAtFormatted
            img(src=message.coverImgUrl, alt="cover")
            +updateAndDeleteButtons(message.url)
  else
    p You haven't composed any messages yet. 

  form(action="/dashboard/profile/logout", method="post")
    button(type="submit") Logout

//- todo: Add update password feature (how is this diff from update profile?)
//- * It isn't gonna be. We're gonna reshow the signUp form with the user populated data, or we can create a new form that is specially only to update the password.