//- You may see both "user.pug" and "profile.pug" in the /views. In this project, "profile" is taken as the authenticated user accessible using req.user in all authenticated routes, whereas "user" is taken as any other user in the database. There are minor differences between these two such as you can only edit or delete your own profile, but you can see other "users" profile without having those permissions.

extends layout

block content
  - const name = user.firstName + ' ' + user.lastName
  h1= name

  p= user.username
  
  //- p= user.email
  //- Hide user's contact and sensitive information 

  if user.dateOfBirth 
    p= user.dobFormatted
  //- note: don't use date of birth for password recovery

  if user.profilePicUrl
    img(src=user.profilePicUrl, alt=user.username)
    //- todo: show default profile picture here.

  p= user.bio
  
  p= user.isClubMember

  h2 #{name}'s messages:
  if messages.length
    ol 
      for message in messages
          li
            p!= message.title
            p!= message.message
            if message.tags.length
              div
                for tag in message.tags
                  a(href=`/dashboard/search?tag=${tag}`): span= tag
            p= message.updatedAtFormatted
            img(src=message.coverImgUrl, alt="cover")
  else
    p #{name} hasn't composed any messages yet.